body {
    font-family: cursive;
    min-width: 100vh;
    text-align: center;
    background-color: burlywood;
    margin: 0;
}

#allBooks {
    display: grid;
    grid-template-columns: repeat(4, 140px);
    gap: 5px;
    padding-top: 20px;
    justify-content: center;
}

.book {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 24px;
    padding: 5px;
    background-color: aquamarine;
    border: solid black;
    border-radius: 6px;
}

#cardTitle {
    font-size: 25px;
    font-weight: bold;
    text-decoration: underline;
}
#addNewBook {
    background-color: cornflowerblue;
    font-size: 20px;
    padding: 8px 20px;
    border-radius: 30px;

}
#cardPages {
    text-decoration: overline;
    font-size: 18px;
}

h1 {
    font-size: 60px;
    font-family: cursive;
    margin: 0;
    margin-bottom: 10px;
    padding: 10px;
    text-align: center;
    color: rgb(107, 93, 59);
}
#cardAuthor {
    font-size: 16px;
    color: darkred;
}
input {
    height: 15px;
    width: 15px;
}
#delete {
    background-color: cornflowerblue;
    font-size: 18px;
    border-radius: 5px;
}

form input {
    width: 120px;
}

form {
    background-color: white;
    z-index: 10;
    padding: 15px;
    border: solid;
    border-radius: 10px;
    width: 170px;
    transform: translate(-50%, -50%) scale(0);
    transition:  transform 500ms ease-in-out;
    position: fixed;
    top: 50%;
    left: 50%;
    
}

form.active {
    transform: translate(-50%, -50%) scale(1);
    display: block;
    background-color: white;
    display: flex;
    flex-direction: column;
}

#overlay {
    position: fixed;
    opacity: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: opacity 300mx ease-in-out;
    background-color: rgb(109, 99, 99, 0.7);
    pointer-events: none;
}

#overlay.active {
    opacity: 1;
    pointer-events: all;
}

form label {
    font-size: 24px;
    
}

form #x{
    background: none;
    border: none;
    color: red;
    align-self: flex-end;
}

#submit {
    background-color: green;
    font-size: 22px;
    padding: 2px 15px;
    border-radius: 16px;
}